{% extends 'base.html' %}

{% block content %}
<div>
    {% if user.is_authenticated %}
    <div class="container mx-auto">
        <section class="flex flex-col items-center justify-center h-screen">
            <h1 class="text-5xl">Hi {{ user.username }}!</h1>
            <br>
            <div class="text-center">
                <p class="text-2xl">What's up?</p>
                <div>
                    <a class="underline hover:text-blue-600" href="{% url 'authentication:logout' %}">Log Out</a>
                </div>
            </div>
            <div>
                <input id="book-search" type="text" placeholder="search your book here..">
                <p id="book-search-result"></p>
            </div>
        </section>
    </div>
    {% else %}
    <div class="container mx-auto">
        <section class="flex flex-col items-center justify-center h-screen">
            <h1 class="text-5xl">Book + Mate = ❤️</h1>
            <br>
            <div class="text-center">
                <p class="text-2xl">but you are not logged in..</p>
                <div>
                    <a class="underline hover:text-blue-600" href="{% url 'authentication:login' %}">Log In</a> |
                    <a class="underline hover:text-blue-600" href="{% url 'authentication:register' %}">Sign Up</a>
                </div>
            </div>
        </section>
    </div>
    {% endif %}
</div>

<script>
    async function getBooksByQuery(query) {
        let url = "{% url 'books:get_books_by_query' %}?search=" + query;
        console.log(url);
        return fetch("{% url 'books:get_books_by_query' %}?search=" + query)
        .then((res) => res.json())
    }

    async function refreshBooks(query) {
        const books = await getBooksByQuery(query);
        
        let bookList = document.getElementById('book-search-result');
        bookList.innerHTML = "";
        for (let i = 0; i < books.length; i++) {
            if (i > 10) break; 
            console.log(books[i].title);
            bookList.innerHTML += "<p>" + books[i].title + "</p>";
        }
    }
    
    document.getElementById('book-search').addEventListener('keyup', (e) => {
        const searchString = e.target.value.toLowerCase();
        // document.getElementById('book-search-result').innerHTML = searchString;
        refreshBooks(searchString); 
    }); 

</script>
{% endblock content %}