{% extends 'base.html' %}

{% block content %}
    <div class="bg-gray-100 p-4">
        <h1 class="text-2xl font-bold mb-4">Request a Book</h1>
        <form action="{% url 'add_product_ajax' %}" method="POST">
            {% csrf_token %}
            <div class="mb-4">
                <label class="block text-gray-700 font-bold mb-2" for="title">
                    Title:
                </label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="title" type="text" name="title" required>
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 font-bold mb-2" for="author">
                    Author:
                </label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="author" type="text" name="author" required>
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 font-bold mb-2" for="isbn">
                    ISBN:
                </label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="isbn" type="text" name="isbn" required>
            </div>
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                Submit
            </button>
        </form>
    </div>
    <div class="bg-gray-100 p-4 mt-4">
        <h1 class="text-2xl font-bold mb-4">Requested Books</h1>
        <table class="table-auto">
            <thead>
                <tr>
                    <th class="px-4 py-2">Title</th>
                    <th class="px-4 py-2">Language</th>
                    <th class="px-4 py-2">Author</th>
                    <th class="px-4 py-2">Year</th>
                    <th class="px-4 py-2">Subject</th>
                </tr>
            </thead>
            <tbody>
                {% for book in requested_books %}
                    <tr>
                        <td class="border px-4 py-2">{{ book.title }}</td>
                        <td class="border px-4 py-2">{{ book.author }}</td>
                        <td class="border px-4 py-2">{{ book.isbn }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td class="border px-4 py-2" colspan="3">No requested books yet.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}