{% extends 'base.html' %}

{% block content %}

    <nav class="bg-white border-gray-200 dark:bg-gray-900">
        <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
            <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">BookMate</span>
        <div class="hidden w-full md:block md:w-auto" id="navbar-default">
            
            <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
                <li>
                    <a href="{% url 'home:show_main' %}" class="block py-2 pl-3 pr-4 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white md:dark:text-blue-500" aria-current="page">Home</a>
                </li>
                <li>
                    <a href="{% url 'home:show_main' %}" class="block py-2 pl-3 pr-4 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white md:dark:text-blue-500" aria-current="page">{{ user_login.username }}</a>
                </li>
                
            </ul>
        </div>
    </nav>
  
    <div class="h-screen dark:bg-gray-700 bg-gray-200 pt-12">

        <!-- Card start -->
            <div class="max-w-sm mx-auto bg-white dark:bg-gray-900 rounded-lg overflow-hidden shadow-lg">
                <div class="border-b px-4 pb-6">
                    <div class="text-center my-4">
                        <img class="h-32 w-32 rounded-full border-4 border-white dark:border-gray-800 mx-auto my-4"
                            src="https://i.imgur.com/gpRh2di.png" alt="">
                        <div class="py-2">
                            <h3 id="tempat-user" class="font-bold text-2xl text-gray-800 dark:text-white mb-1"></h3>
                            <div class="inline-flex text-gray-700 dark:text-gray-300 items-center">
                                <svg class="h-5 w-5 text-gray-400 dark:text-gray-600 mr-1" fill="currentColor"
                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                                    <path class=""
                                        d="M5.64 16.36a9 9 0 1 1 12.72 0l-5.65 5.66a1 1 0 0 1-1.42 0l-5.65-5.66zm11.31-1.41a7 7 0 1 0-9.9 0L12 19.9l4.95-4.95zM12 14a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm0-2a2 2 0 1 0 0-4 2 2 0 0 0 0 4z" />
                                </svg>
                                New York, NY
                            </div>
                        </div>
                        <form id="random-user-form" method="post" action="">
                            {% csrf_token %}
                            <input type="hidden" name="id" id="random-user-id"></input> 
                            <button type="submit" class="bg-green-500 hover:bg-blue-700 text-gray-900 font-bold py-2 px-4 rounded">
                                Accept  
                            </button>
                            <button id="match-button" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"> 
                                Swipe (Skip)  
                            </button>
                        </form>    
                    </div>
                </div>
            </div>
                
            <h1 class="text-3xl font-bold mb-4">It's a Match 📚🫶</h1>
            <!-- <button class="swipe">Swipe</button> -->
            <!-- <button class="swipe">Swipe</button> rencananya masukin ke form --> 
        </section>  
	</div>
    <script>
        let randomUserForm = document.getElementById("random-user-form") 
        let randomUserIdInput = document.getElementById("random-user-id")
        let matchButton = document.getElementById("match-button")
        let tempatUser = document.getElementById("tempat-user")

        async function fetchMatch() {
            return fetch("{% url 'match:get_match' %}") 
            .then((res) => res.json())
        }
        async function getMatch() { 
         //   const response = await fetch("{% url 'match:get_match' %}")
            const data = await fetchMatch() 
            console.log(data)
            console.log("msk sini")
            // Ini kan kalo ngeclick match dari homepage harusnya langsung muncul member yang direkomendasiin, 
            // jadi pas getMatch itu dia manggil match trus dia nge return data dari manggil backend, jadi pas dia accept dia ngambil id trus baru getmatch lagi
            randomUserIdInput.value = data;
            document.getElementById("tempat-user").innerHTML = data.name; //kl ga salah kyk gini
            
        }
        window.onload = getMatch()
        document.getElementById("match-button").addEventListener("click", getMatch)
        //     fetch(,
        //         ).then(function(res) {
        //             console.log("Success!!!")
        //             randomUser = res.body
        //             tempatUser.innerHTML = `Recommended User: ${randomUser.name}`
        //             randomUserIdInput.value = randomUser.pk 
        //             console.log(res.body)
        //         }).catch(function(err) {
        //             console.log(err)
    
        //         }) kode html nya kaya gini: nampilin alert abis accept
        /* <div class="bg-indigo-900 text-center py-4 lg:px-4">
                <div class="p-2 bg-indigo-800 items-center text-indigo-100 leading-none lg:rounded-full flex lg:inline-flex" role="alert">
                    <span class="flex rounded-full bg-indigo-500 uppercase px-2 py-1 text-xs font-bold mr-3">MATCH</span>
                    <span class="font-semibold mr-2 text-left flex-auto">SUCCESS MATCH</span>
                </div>
            </div> --> 
        // }) 
       // randomUserForm.addEventListener("submit", function(e) {
            // fetch  accept recomendantion
            // url: /match/accept/id
            e.preventDefault(); 
           // id = randomUserIdInput.value  
          //
       // }) 
        //*/
        randomUserForm.addEventListener("submit", async function(e) {
            e.preventDefault();
            const data = await fetchMatch() 
            
            const id = data.id;
            const acceptUrl =`{% url 'match:accept' 0 %}`.replace('0', id);

            try {
                const response = await fetch(acceptUrl, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json', // Set the content type as needed
                    }
                    // You can include request body data if necessary
                    // body: JSON.stringify({}),
                })
                .then()
                .catch();

                if (response.ok) {
                    // Handle success, e.g., show a message
                    console.log('Recommendation accepted successfully');
                } else {
                    // Handle errors, e.g., show an error message
                    console.error('Error accepting recommendation');
                }
            } catch (error) {
                console.error('An error occurred while accepting recommendation:', error);
            }
        });

    </script>




{% endblock content %}
